{{> doc-head }}
<link href="/assets/css/portfolio.css" rel="stylesheet">
<body>
    {{> header }}

    <main>
        <h1>Portfolio Pieces</h1>

        {{{ contents }}}
    </main>

    {{> footer }}
</body>
</html>